{% load static %}
<div id="signup" class="hidden bg-gray-900 fixed z-40 h-full" >
	<div class="w-full border-b p-4 text-white">
        <div class="w-16 inline-block"  onclick="showContents('signup');">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
        </div>

        <div class="float-right"  onclick="showContents('signup');">
            <svg viewBox="0 0 20 20" fill="currentColor" class="x w-6 h-6"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>

        </div>
    </div>
    <section class="p-2 overflow-y-scroll h-screen pb-40">
      <div class="md:flex overflow-y-scroll">
        <div class="hidden md:block w-2/3 h-screen border-b bg-cover p-64 flex">
          <img src="{% static 'img/4.PNG' %}" class="w-64 h-64">
        </div>
        <div class="pt-4 text-white">
          <div class="">
             <center>
                <h6 class="text-white text-center mb-6">
                  Over Here We Don't Judge, Just get your stuff and we move.
                </h6>
              </center>
          </div>
          <div class="bg-green-400 text-center">
          {% for message in msg %}
            {{ message }}
          {% endfor %}
          </div>
          <div>
             
          </div>
  
        
          <form id="signupform" class=" p-2">
                  <div class=" w-full mb-4">
                 
                  <input type="text" class="p-2 border-b text-black w-full rounded" placeholder="Username" id="id_uname" name="username" required>
                  <span id="uname_msg" class="text-gray-700 text-sm">make it a unique one</span>
                </div>
                <div class="mb-4">
                 
                  <input type="email" class="p-2 text-black border-b w-full rounded" placeholder="Email" id="email" name="email" required>
                  <span class="text-xs text-gray-500 pl-2">Confirmation link will be sent to it</span>
                </div>
                <div class="mb-4">
                  
                  <input type="password" class="p-2 border-b w-full text-black rounded" placeholder="Password" id="pwd1" name="password1" required>
                  <span class="text-red-700 text-xs">
                    <ul>
                      <li>Not similar to personal information.</li>
                      <li>must be more than 8 characters.</li>
                      <li>Not a commonly used password.</li>
                      <li>Not entirely numeric.</li>
                    </ul>
                  </span>
                  
                </div>

                <div class="mb-4">
                  
                    <input type="password" class="p-2 text-black border-b w-full rounded" placeholder="Confirm Password" id="pwd2"  name="password2" required>
                   <span id="passwd_msg" class="text-red-700 text-sm">Enter the same password as before, for verification.</span>
                  </div>
                <div class="mb-4">
                  <label class="w-full">
                    <input class="border-b " type="checkbox" required> <span class="text-sm">I agree to the terms and conditions</span> 
                  </label>
                </div>
                <button type="submit" class="p-2 bg-blue-700 w-full rounded-lg text-white font-extrabold"> Join now 🥳</button>
               
                <p class="text-white text-center mt-4"  onclick="showContents('signup');showContents('login');">Are you already part of us ? then Login</p>
                
              </form>

    </div>
           
        </div>
    </section>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
{% block script %}
<script type="text/javascript">
  $("#id_uname").change(function(){
      var username = $(this).val();
      $.ajax({
        url:'/ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data){

          if (data.is_taken) {
            display("A user with this Username already exists.","uname_msg","");
             //document.getElementById("id_uname").value = " ";
          } else {
              display("username available","uname_msg","success");
          };
         
                    
        }
      });
    });

    $(document).on('submit','#signupform', function(e){
          e.preventDefault();
          if ($('#pwd1').val() != $('#pwd2').val()){
            display("your passwords are not a match", "passwd_msg","");
          } else {
          $.ajax({
            type:'POST',
            url:"{% url 'forum:registration' %}",
            data: {
              username: $('#id_uname').val(),
              email:$('#email').val(),
              password1:$('#pwd1').val(),
              password2:$('#pwd2').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success:function(data){  
                if(data.success){
                  //open the login modal
                   showContents('signup');
                   showContents('login');
                   showmsg(data.username);
                   document.getElementById("wname").innerHTML = data.username;
                } else {
                  //throw an error message to the modal
                  window.alert(data.msg);
                }
            }
          }); }
        });

</script>
{% endblock %}