<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>
		{% block title %}

		{% endblock %}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
	
	<header class="">
		{% include 'base/nav.html' %}
		<div class="w-full bg-blue-700 p-8">
			<div class="text-center pt-12">
				<h4 class="text-lg text-white mb-4">askHTU is a blog designed to cater for the needs of the students by supplying adequateand reliable information. We ask for you the questions that matter. </h4>

				<button class="border rounded p-2 text-white bg-blue-800 "> Sign up to join this community</button>
			</div>
		</div>
		
	</header>
	<main class="w-full border lg:flex">
		
		<div class="hidden p-4 pl-4 lg:inline-block w-1/6">
			<div class="p-2 {{ active }}">
				<span>Home</span>
			</div>
			<div class="p-2">
				<span>Questions</span>
			</div>
			<div class="p-2">
				<span>Tags</span>
			</div>
			<div class="p-2">
				<span>Users</span>
			</div>
			<div class="p-2">
				<span>Unanswered</span>
			</div>
		</div>
		<div class="w-full lg:flex border">
			{% block content %}

			{% endblock %}
			<div class="p-4 text-center">
				<h4>Hot Trending Questions</h4>
			</div>
		</div>
		
		
	</main>
		{% include 'base/footer.html' %}
		{% block script %}

		{% endblock %}
</body>
</html>