{% extends 'base/base.html' %}
{% load static %}
{% block content %}

	<main class="mt-12">
		<div class="p-2">
			<h2 class="text-3xl  text-gray-800">How do i apply to HTU ??</h2>
			<div class="w-full p-2 border-b">
				<span class="text-gray-700">Asked</span>
				<span>2 years, 9 months ago</span>
				<span class="text-gray-700">Active</span>
				<span>1 month ago</span>
				<span class="text-gray-700">Viewed</span>
				<span>120 times</span>
			</div>

			<div class="p-4">
				<p class="p-2">I am a fresh graduate from Saint Paul's and wishing to enter the Technical instituition.I wan to offer Computer Science but the Admission process id tough to follow . Please can you help ?? Thanks</p>

				<!-- Tags go here -->
				<span class="p-2 bg-blue-300 text-blue-900 text-xs border rounded"> Admission</span>

				<span class="p-2 bg-blue-300 text-blue-900 text-xs border rounded"> Fresher</span>
			</div>
			<div class="text-gray-800 p-4 text-xs">
				<span class="inline-block mr-4">Share</span>
				<span class="inline-block mr-4">Improve this question</span>
				<span>Follow</span>
			</div>

			<!-- The answers  to question asked -->
			<div class="p-4">
				<div>
					12 
				</div>
			</div>
		</div>
	</main>

{% endblock %}