{% extends 'base/base.html' %}
{% load static %}
{% block content %}
		<div class="w-full lg:w-4/6 lg:inline-block">
			<div class="p-4 text-center border-b">
				<span class="text-2xl">{{ category }}</span>
			</div>
			<div class="w-full p-4">
				<div class="inline-block ">
					<span class="text-xl">Explore  Questions your collegues asked</span>
				</div>
				<button class="border rounded p-2 text-white bg-blue-800 float-right">
					Ask Question
				</button>
			</div>
		<div class="p-2 w-full lg:inline-block ">
			<div class="w-full p-4 border-b wrap">
			<!-- Tags go here -->
				<button class="p-2 bg-blue-300 text-blue-900 text-xs border rounded"> Admission</button>

				<button class="p-2 bg-blue-300 text-blue-900 text-xs border rounded"> Freshers</button>

				<button class="p-2 bg-blue-300 text-blue-900 text-xs border rounded"> Course Registration</button>

				<button class="p-2 bg-blue-300 text-blue-900 text-xs border rounded"> Resit Registration</button>

				<span class="text-sm text-blue-700">more tags</span>
		</div>
		{% for post in posts %}
			<div class="pt-4 w-full">
				<div class="pb-4 text-sm pl-2">
					<span class="text-gray-800"> 12 likes</span>
					<span class="p-2 bg-blue-600 rounded text-white"> 7 answers</span>
					<span class="text-blue-700"> 43 views </span>
				</div>
				<div class="pb-4 text-sm pl-2 flex">
					<h2 class="text-lg text-gray-800 pl-2">{{ post.title }}</h2>
				</div>
			
			<div class="w-full p-4 text-sm">
			<!-- Tags go here -->
				<span class="p-2 bg-blue-300 text-blue-900 text-xs border rounded"> Admission</span>

				<span class="p-2 bg-blue-300 text-blue-900 text-xs border rounded"> Fresher</span>
			</div>
			<div class="w-full p-2 border-b text-xs text-right">
				<span class="text-gray-700">Asked</span>
				<span>{{ post.Published|timesince }} ago by </span>
				<span class="text-blue-700">{{ post.author.username }}</span>
				
			</div>
			</div>
		{% endfor %}
			<div class="w-full p-4 mb-8">
			<button class="float-right bg-blue-700 rounded p-2 text-white">Browse more Questions</button>
		</div>
		</div>
	
		</div>

{% endblock %}